@font-face {
  font-family: barlow-bold;
  src: url(../fonts/barlow-bold-webfont.woff2) format("woff2"), url(../fonts/barlow-bold-webfont.woff) format("woff");
}

@font-face {
  font-family: barlow-regular;
  src: url(../fonts/barlow-regular-webfont.woff2) format("woff2"), url(../fonts/barlow-regular-webfont.woff) format("woff");
}

@font-face {
  font-family: barlow-semibold;
  src: url(../fonts/barlow-semibold-webfont.woff2) format("woff2"), url(../fonts/barlow-semibold-webfont.woff) format("woff");
}

@font-face {
  font-family: DMSans-Bold;
  src: url(../fonts/DMSans-Bold.woff) format("woff");
}

@font-face {
  font-family: DMSans-ExtraBold;
  src: url(../fonts/DMSans-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: DMSans-Medium;
  src: url(../fonts/DMSans-Medium.woff) format("woff");
}

@font-face {
  font-family: DMSans-Regular;
  src: url(../fonts/DMSans-Regular.woff) format("woff");
}

@font-face {
  font-family: DMSans-SemiBold;
  src: url(../fonts/DMSans-SemiBold.woff) format("woff");
}