$deepBlue:#1a3c5b;
$mediumBlue:#1f466b;
$lightBlue:#d2e6f1;
$extraLightBlue:#f0f6fa;
$yellow:#f9ae15;

$semiGradientDark:linear-gradient(180deg, rgba(31,70,107,1) 50%, rgba(26,60,91,1) 50%);
$semiGradientLight:linear-gradient(180deg, rgba(210, 227, 239,1) 50%, rgba(225,237,243,1) 50%);